/*AUTHOR: Marino Tejedor Romero*/

body {
    font-family: Roboto, Lato, "Open Sans", Arial, "Helvetica Neue", Verdana, Helvetica, sans-serif;
}

.nullinput {
    opacity: 0.33;
}

.ticktemplate {
    width: 100px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}


.ticktemplate.arrowright {
    background-image: url(arrowright.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.ticktemplate.arrowleft {
    background-image: url(arrowleft.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.ticktemplate.arrowleft.arrowright {
    background-image: url(arrowleft.svg), url(arrowright.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 100%, 100% 100%;

}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 0px
}

table input {
    margin: 2px 0;
    padding: 4px;
    text-align: center;
}

.top-header {
    background-color: #d35400;
    padding: 6px;
    border: 0px;
    border-radius: 6px 6px 0 0;
    text-transform: capitalize;
}

.bottom-header {
    background-color: #e67e22;
    padding: 6px;
    border: 0px;
    box-sizing: border-box;
    border-radius: 0;
    text-transform: capitalize;
    font-weight: 550;
    font-size: 14px;
}

.header-row {
    border: 0px
}

tr {
    padding: 10px;
}

td {
    text-align: center;
}

.tips {
    background-color: #f1c40f;
    border-left: 24px solid #f39c12;
    padding: 24px;
    border-radius: 6px;
}

.tips h3 {
    margin-top: 0
}

.tips ol {
    margin-bottom: 0
}

.authors {
    background-color: #f1c43f;
    border-left: 24px solid #f39c12;
    padding: 24px;
    border-radius: 6px;
}

.authors h3 {
    margin-top: 0
}

.authors ol {
    margin-bottom: 0
}


#yellow {
    background-color: #f1c40f80;
    border-radius: 2px;
    border: 1px solid #f39c1280;
    color: #2c3e50;
}

#red {
    background-color: #e74c3c80;
    border-radius: 2px;
    border: 1px solid #c0392b80;
    color: #2c3e50;
}

#green {
    background-color: #2ecc7180;
    border-radius: 2px;
    border: 1px solid #27ae6080;
    color: #2c3e50;
}
